.dp-highlighter,
.dp-highlighter div,
.dp-highlighter span,
.dp-highlighter a,
.dp-highlighter a:hover,
.dp-highlighter .reset,
.dp-highlighter.reset
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	color: inherit;
	background: none;
	text-align: left;
	float: none;
	vertical-align: baseline;
}

.dp-highlighter
{
	width: 99%;
	overflow: auto;
	margin: 18px 0 18px 0 !important;
	padding-top: 1px; /* adds a little border on top when controls are hidden */
}

.dp-highlighter .font,
.dp-highlighter.font
{
	font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
}

.dp-highlighter div.line div.number
{
	float: left; 
	width: 45px; 
	text-align: right;
}

/* Disable numbers when no gutter option is set */
.dp-highlighter.nogutter div.line div.number
{
	display: none;
}

.dp-highlighter div.line div.content
{
	margin-left: 50px; 
	padding-left: 4px; 
}

/* Disable border and margin on the lines when no gutter option is set */
.dp-highlighter.nogutter div.line div.content
{
	margin-left: 0; 
	border-left: none;
}

.dp-highlighter a,
.dp-highlighter a:hover
{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.dp-highlighter .bar
{
	padding-left: 50px;
}

.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar
{
	padding-left: 0px;
}

.dp-highlighter.nogutter .columns div
{
	border: 0;
}

.dp-highlighter .columns
{
	background-color: #F8F8F8;
	color: gray;
	overflow: hidden;
	width: 100%;
}

.dp-highlighter .columns div
{
	padding-bottom: 5px;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol
{
	margin: 0px;
}

.dp-highlighter.collapsed ol li
{
	display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing
{
	border: none;
}

.dp-highlighter.printing .tools
{
	display: none !important;
}

.dp-highlighter.printing li
{
	display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .toolbar
{
	padding: 3px 8px 3px 10px;
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}

.dp-highlighter.nogutter .toolbar
{
	border-left: 0;
}

.dp-highlighter.collapsed .toolbar
{
	border-bottom: 0;
}

.dp-highlighter .toolbar a
{
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .toolbar a:hover
{
	text-decoration: underline;
}

/* About dialog styles */

.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; color: #333; width: 60px; height: 22px; }
