/**
 * Default Syntax Highlighter theme.
 */

/************************************
 * Interface elements.
 ************************************/
.dp-highlighter
{
	background-color: #E7E5DC;
}

/* Highlighed line number */
.dp-highlighter div.line.highlighted div.number
{
	background-color: #6CE26C;
	color: black;
}

/* Highlighed line */
.dp-highlighter div.line.highlighted div.content
{
	background-color: #CFFFCF !important;
}

/* Gutter line numbers */
.dp-highlighter div.line div.number
{
	color: #5C5C5C;
}

/* Add border to the lines */
.dp-highlighter div.line div.content
{
	border-left: 3px solid #6CE26C;
}

/* First line */
.dp-highlighter div.line.alt1 div.content
{
	background-color: #fff;
}

/* Second line */
.dp-highlighter div.line.alt2 div.content
{
	background-color: #F8F8F8;
}

/* Toolbar when visible */
.dp-highlighter div.toolbar,
.dp-highlighter div.ruler
{
	color: silver;
	background-color: #F8F8F8;
	border-left: 3px solid #6CE26C;
}

.dp-highlighter .toolbar a
{
	color: #a0a0a0;
}

.dp-highlighter .toolbar a:hover
{
	color: red;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.dp-highlighter .plain,
.dp-highlighter .plain a
{ 
	color: #000;
}

.dp-highlighter .comments,
.dp-highlighter .comments a
{ 
	color: #008200;
}

.dp-highlighter .string,
.dp-highlighter .string a
{
	color: blue; 
}

.dp-highlighter .keyword
{ 
	color: #069; 
	font-weight: bold; 
}

.dp-highlighter .preprocessor 
{ 
	color: gray; 
}

.dp-highlighter .variable 
{ 
	color: #a70; 
	font-weight: bold; 
}

.dp-highlighter .value
{ 
	color: #000; 
}

.dp-highlighter .important
{ 
	color: red; 
}